/koodi/viikko2/RiippuvuuksienInjektointiSpring/build/
/koodi/viikko3/nhlreader/.nb-gradle/
/koodi/viikko3/LoginCucumber/.nb-gradle/
/koodi/viikko3/LoginCucumber/build/
/koodi/viikko3/WebLogin/.nb-gradle/
/koodi/viikko2/Verkkokauppa1/.nb-gradle/
/koodi/viikko4/MockitoDemo/.nb-gradle/
/koodi/viikko4/MockitoDemo/build/
/koodi/viikko4/MaksukorttiMockito/.nb-gradle/
/koodi/viikko4/MaksukorttiMockito/build/
/koodi/viikko4/Verkkokauppa/.nb-gradle/
/koodi/viikko4/Verkkokauppa/build/